@import "./general.css";
#empresas,#usuarios {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    gap: 1rem;
}
h2{
  font-size:2rem;
  text-align: center;
}
#tablaEmpresas,#tablaUsuarios{
    border-collapse: collapse;
    
 }
 #tablaEmpresas th, #tablaEmpresas td, #tablaUsuarios th, #tablaUsuarios td{
    border: 1px solid;
    padding: .75rem;
    margin: .75rem;
    text-align: center;
 }

 @media screen and (max-width:500px) {
     #tablaEmpresas th, #tablaEmpresas td,#tablaUsuarios th, #tablaUsuarios td{
    border: 1px solid;
    padding: .1rem;
    margin: .1rem;
 }}