@import "./general.css";

header{
    display: flex;
    justify-content: center;
    padding: 1rem;
    height: 200px;
}

header a img{
width: 250px;
}

main{
    display: flex;
    flex-direction: column;
    align-content: center;
    font-family: var(--princiapl-font);
    text-align: center;
}
h2{
    font-size: 2rem;
    font-weight: 100;
    color: var(--clr-principal);
    text-align: center;
    padding: 1rem;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
}

input[type="email"],
input[type="password"],input[type="text"] {
  padding: 0.5rem 1rem;
  border: 2px solid #ccc;
  border-radius: 20px; 
}

input[type="submit"] {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: var(--clr-principal);
  color: var(--background-clr);
  font-family: var(--princiapl-font);
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  margin: 1.2rem;
  transition: all 0.4s ease-in-out;
}

input[type="submit"]:hover {
  background-color: var(--background-clr);
  color: var(--clr-principal);
  outline: 1px solid var(--clr-principal);
}

main p>a:hover{
    color:var(--clr-principal);
}

.error{
    color: red;
    font-size: 0.75rem;
}
.valido{
    color: green;
    font-size: 0.75rem;
}
